.navbar {
  border-radius: 16px;
  background: rgb(202, 73, 202);
  width: 20%;
  height: 230px;
  text-align: center;
  color: white;
  font-weight: bold;
  position: fixed;
  right: 15px;
  top: 200px;

  &__title {
    font-size: 35px;
    text-align: left;
    margin: 15px;
  }

  &__li {
    font-size: 20px;
    margin: 9px 50px;
    text-align: left;
    list-style: none;
  }

  &__a {
    text-decoration: none;
  }
}
