.App {
  display: flex;
  background-color: black;
  flex-direction: column;
  height: 100%;

  &__body {
    background: blueviolet;
    text-align: center;
    font-family: Montserrat-Regular;
    width: 100%;
  }
}
