.App {
  display: flex;
  background-color: black;
  flex-direction: column;
  height: 100%;

  &__body {
    background-color: #111114;

    /* SMARTPHONES  */
    @media only screen and (min-width: 480px) {
      max-width: 100%;
    }

    /* TABLETS */
    @media only screen and (min-width: 768px) {
      max-width: 100%;
    }

    /* TABLET LANDSCAPE / DESKTOP */
    @media only screen and (min-width: 1024px) {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &__info {
    text-align: center;
    font-family: Montserrat-Regular;
    width: 100%;
  }
}
