.texts {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Book Antiqua;

  &__conteiners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 62.5;
    background-color: #111114;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.97);
    -webkit-box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.97);
    -moz-box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.97);

    @media only screen and (min-width: 480px) {
      max-width: 100%;
      background-color: black;
    }

    /* TABLETS */
    @media only screen and (min-width: 768px) {
      max-width: 70%;
    }
  }

  &__title {
    font-size: 30px;
  }

  &__subtitle {
    text-align: left;
    font-size: 17px;
    margin: 25px 30px auto;
  }

  &__text {
    text-align: justify;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.6;
    padding: 10px;
    letter-spacing: 1px;
  }

  &__text2 {
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.6;
    text-align: initial;
    letter-spacing: 1px;
  }
  &__img {
    width: 200px;
  }

  &__skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      margin-top: 70px;
    }
  }

  &__carouselprofile {
    margin: 50px;
    @media only screen and (max-width: 1024px) {
      margin-left: 50px;
    }
    @media only screen and (max-width: 520px) {
      margin-left: 100px;
    }
  }
}

.ojito {
  max-height: 34px;
  max-width: 35px;
}

.gatito {
  max-height: 30px;
  max-width: 30px;
}

.linkedin {
  max-height: 31px;
}

.caroucel {
  margin: 0 auto;
}
